/* Easy & Eco-friendly
    Author: Kyra Sabol
    Date created: May 31, 2021

    Filename: flexlayout.css
        
    Color set: 
        Beige: rgb(201,181,144)
        Clay brown: rgb(136,81,50)
        White: rgb(252,251,249)
        Dark green: rgb(78,113,48)
        Light green: rgb(149,178,80)
*/     


header, footer{
    width: 100%;
}

aside {
    -webkit-flex: 1 1 200px;
    flex: 1 1 200px;
}

article {
    -webkit-flex: 3 1 400px;
    flex: 3 1 400px;
}

nav#mainnav ul {
    display: flex;
    flex-flow: row nowrap;
}

nav#mainnav li {
    flex: 1 1 auto;
}
